@model TheMovieDB.MovieData.AddMovieModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a new Movie!</h2>

@using (Html.BeginForm("AddMovie", "MovieLib", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.movieGenreName)
    @Html.HiddenFor(m => m.movieGenreID)
    if(Request.IsAuthenticated)
    {
        <div class="form-group dl-horizontal">
            <dl>
                <dt>
                    @Html.DisplayNameFor(m => m.movieGenreName)
                </dt>
                <dd>
                    @Html.DisplayFor(m => m.movieGenreName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(m => m.movieName)
                </dt>
                <dd>
                    @Html.TextBoxFor(m => m.movieName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(m => m.releaseDate)
                </dt>
                <dd>
                    @Html.TextBoxFor(m => m.releaseDate, new { @class = "datefield", type = "date"})
                </dd>
            </dl>

            <div class="form-actions no-color">
                <input type="submit" value="Add Movie" class="btn btn-default"/>
                @Html.ActionLink("Cancel", "Index")
            </div>
        </div>
    }
}
