@model TheMovieDB.MovieData.EditMovieModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Movie";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("EditMovie", "MovieLib", FormMethod.Post))
{
    if(Request.IsAuthenticated)
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.movieID)
        @Html.HiddenFor(m => m.movieGenreID)
        @Html.HiddenFor(m => m.movieGenreName)

        <div class="form-group dl-horizontal">
            <hr/>
            <dl>
                <dt>@Html.DisplayNameFor(m => m.movieGenreName)</dt>
                <dd>@Html.DisplayFor(m => m.movieGenreName)</dd>
                <dt>@Html.DisplayNameFor(m => m.movieName)</dt>
                <dd>@Html.TextBoxFor(m => m.movieName)</dd>
                <dt>@Html.DisplayNameFor(m => m.releaseDate)</dt>
                <dd>@Html.TextBoxFor(m => m.releaseDate, new { @class = "datefield", type = "date" })</dd>
            </dl>
            <input type="submit" value="Save Changes" class="btn btn-default"/>
            @Html.ActionLink("Cancel", "ViewMovies", new { genreID = Model.movieGenreID})
        </div>
    }
    else
    {
        Response.Redirect("~/Login/LoginUser");
    }
}