@model TheMovieDB.MovieData.EditMovieModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Movie";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("EditMovie", "MovieLib", FormMethod.Post))
{
    if(Request.IsAuthenticated)
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.MovieID)
        @Html.HiddenFor(m => m.MovieGenreID)
        @Html.HiddenFor(m => m.MovieGenreName)

        <div class="form-group dl-horizontal">
            <hr/>
            <dl>
                <dt>@Html.DisplayNameFor(m => m.MovieGenreName)</dt>
                <dd>@Html.DisplayFor(m => m.MovieGenreName)</dd>
                <dt>@Html.DisplayNameFor(m => m.MovieName)</dt>
                <dd>@Html.TextBoxFor(m => m.MovieName)</dd>
                <dt>@Html.DisplayNameFor(m => m.ReleaseDate)</dt>
                <dd>@Html.TextBoxFor(m => m.ReleaseDate, new { @class = "datefield", type = "date" })</dd>
            </dl>
            <input type="submit" value="Save Changes" class="btn btn-default"/>
            @Html.ActionLink("Cancel", "ViewMovies", new { GenreID = Model.MovieGenreID})
        </div>
    }
    else
    {
        Response.Redirect("~/Login/LoginUser");
    }
}