<!--This is the page where we will view the Genres of movies (not the movies themselves!)-->
<!--Insert model type here (presumably MovieDB.Genre or something of the like)-->
@model IEnumerable<TheMovieDB.MovieData.Genre>
@{
    ViewBag.Title = "Movie Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie Genres</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.GenreName)
        </th>
        <th></th>
        <hr/>
    </tr>
    @Html.AntiForgeryToken()
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.GenreName)
            </td>
            <td>
                @Html.ActionLink("View Movies", "ViewMovies", new { _genreID = item.GenreID})
            </td>
            @if(Request.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Delete Genre", "DeleteGenre", new { _genreID = item.GenreID })
                </td>
            }
        </tr>
    }
</table>