@model TheMovieDB.MovieData.ViewMovieModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<br/>

@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Add a new Movie", "AddMovie", new { GenreID = Model.MovieGenreID })
}

<table class="table">
    <tr>
    </tr>
    <tr>
        <th>
            @Html.DisplayName("Movie Name")
        </th>
        <th>
            @Html.DisplayName("Genre")
        </th>
        <th>
            @Html.DisplayName("Release Date")
        </th>
        <th></th>
        <hr />
    </tr>
    @Html.AntiForgeryToken()
    @foreach (var item in Model.MovieList)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(m => item.MovieGenre.GenreName)
            </td>
            <td>
                @Html.DisplayFor(m => item.ReleaseDate)
            </td>
            @if(Request.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Edit", "EditMovie", new { MovieID = item.MovieID}) | 
                    @Html.ActionLink("Delete", "DeleteMovie", new { MovieID = item.MovieID})
                </td>
            }
        </tr>
    }
</table>
