@model TheMovieDB.Models.EditViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit User";
}

<h2>Edit User</h2>

@using (Html.BeginForm("EditUser", "Login", FormMethod.Post))
{
    if (Request.IsAuthenticated)
    {
        @Html.AntiForgeryToken()

        <div class="form-group dl-horizontal">
            <hr/>
            @Html.HiddenFor(m => m.userName)
            @Html.HiddenFor(m => m.email)
            <dl>
                <dt>
                    @Html.DisplayNameFor(m => m.email)
                </dt>
                <dd>
                    @Html.DisplayFor(m => m.email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(m => m.userName)
                </dt>
                <dd>
                    @Html.DisplayFor(m => m.userName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.userName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(m => m.phone)
                </dt>
                <dd>
                    @Html.TextBoxFor(m => m.phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.phone)
                </dd>
            </dl>
            <div class="form-actions no-color">
                <input type="submit" value="Save Changes" class="btn btn-default" />
                @Html.ActionLink("Cancel", "ViewAccounts", "Login")
            </div>
        </div>
    }
}
